@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "../styles/variables";


// body {
//   font-family: 'Lato', sans-serif;
//   background-color: #61dafb;
// }

.header {
font-family: cursive;
font-size: xxx-large;
display: flex;
justify-content: center;
background-color: #4fb5d1;
height: $appTopMargin;

align-items: center;
}

.container {
  position: absolute;
  background-color: $themeColor;
    top: $appTopMargin;
//   top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  //  linear-gradient: (to top right, #bf7a6b 0%, #e6d8a7 100%);

  background-image: linear-gradient(to left top,#61dafb 0%, #fff 100%);
}

.form {
  width: 400px;
}

.file_upload_wrapper {
  $defaultColor: #2ba2db;
  $height: 60px;
  
  position: relative;
  width: 100%;
  height: $height;
  
  &:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: $height - 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  
  &:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: $defaultColor;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: $height;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  
  &:hover {
    &:before {
      background: darken($defaultColor, 20%);
    }
  }
   input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: $height - 20px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.sprucecss {
  align-items: flex-start;
  background-color: #{'hsl(0 0% 100%)'};
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem #{'hsl(0 0% 0% / 5%)'};
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  inset: auto auto 1rem 1rem;
  line-height: 1.5;
  max-width: 11rem;
  padding: 1.5rem;
  position: fixed;
  text-decoration: none;
  
  img {
    height: 1.5rem;
    width: auto;
  }
}

.continue_button {
  background-image: linear-gradient(-180deg, #37AEEe 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  margin-top: 3vh;
}

continue_button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
      padding: 1rem 2rem;
  }
}